<%- include('partials/header') %>

<!-- User side CSS -->
<link rel="stylesheet" href="/public/css/user-contracts.css">
<link rel="stylesheet" href="/public/css/layout.css">

<!-- CSS for this page -->
<!-- <link rel="stylesheet" href="/public/css/form.css"> -->

<!-- DATA TABLES -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.2/datatables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.2/datatables.min.js"></script>

</head>

<body>
  <%- include('partials/nav') %>

  <div class="container-fluid">
    <div class="row">

      <%- include('partials/sidebar') -%>

      <main class="col-md-1 ms-sm-auto col-lg-10 px-md-4" style="padding-top: 1%;">

        <div class="card shadow">
          <div class="card-header">
            <h2 class="card-title">
              Monitorização
            </h2>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-3 col-sm-6 dashboard">
                <div class="card shadow">
                  <div class="card-body rounded-3 shadow btn-success">
                    <div class="row">
                      <div class="col-6">
                        <p class="number">10</p>
                        <h6 class="h6 card-title">Terminados</h6>
                      </div>
                      <div class="col-6 icon">
                        <i class="far fa-calendar-check"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 dashboard">
                <div class="card-box shadow border">
                  <div class="card-body rounded-3 shadow btn-primary">
                    <div class="row">
                      <div class="col-6">
                        <p class="number">17</p>
                        <h6 class="h6 card-title">Em curso</h6>
                      </div>
                      <div class="col-6 icon">
                        <i class="fas fa-hourglass-half"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 dashboard">
                <div class="card shadow">
                  <div class="card-body rounded-3 shadow btn-warning">
                    <div class="row">
                      <div class="col-6">
                        <p class="number">3</p>
                        <h6 class="h6 card-title">Por assinar</h6>
                      </div>
                      <div class="col-6 icon">
                        <i class="fas fa-file-signature"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 dashboard">
                <div class="card shadow">
                  <div class="card-body rounded-3 shadow btn-danger">
                    <div class="row">
                      <div class="col-6">
                        <p class="number">2</p>
                        <h6 class="h6 card-title">Expirados</h6>
                      </div>
                      <div class="col-6 icon">
                        <i class="far fa-calendar-times"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br>

        <div class="card shadow">
          <div class="card-header">
            <h2 class="card-title">Contratos</h2>
          </div>
          <div class="card-body rounded-3 shadow">
            <div class="table-responsive">
              <table id="contracts" class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th scope="col"># ID</th>
                    <th scope="col">Criador</th>
                    <th scope="col">Data Criação</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Editar</th>
                  </tr>
                </thead>
                <% for( let i = 0; i < contract.length; i++ ) {%>
                  <% if (contract[i].creator == user.idUser) { %>
                    <% let date = contract[i].creation_date %> 
                   <tbody>
                     <tr>
                       <td><%= i+1 %></td>
                       <td><%= user.firstName + " " + user.lastName %> </td>
                       <td><%= date.toLocaleDateString('en-GB') + " " + date.toLocaleTimeString() %></td>
                       <td><span class="badge badge-primary">Em curso</span></td>
                       <td><a class="btn-sm btn-success" href="/user/<%= contract[i].idContract %>"><i class="fas fa-edit"></i></a></td>
                     </tr>
                   </tbody>
                  <% } %>
                <% } %>
              </table>
            </div>
          </div>
        </div>
      </main>
      <%- include('partials/footer') %>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      $('#contracts').DataTable();
    });
  </script>
</body>

</html>